#map {
    height:600px;
}

.sticky {
    position: fixed;
    top: 0px;
}

#navigation {
	height:150px;
}

body {
    font-family: 'Gotham-Light', sans-serif;
    font-weight: 350;
    margin-bottom:20px;
}

.titledesc{
    font-size:1.2em;
    color: #555;
}

p {
    font-size:1.4em;
}

.rightalign {
    text-align:right;
}

.title {
    margin-top:20px;
    margin-bottom:20px;
    background-color:#eee;
}

a {
    color:#B71C1C;
}

a:hover {
    color:#B71C1C;
}

h1 {
    color:#B71C1C;
}

#image {
    margin-top:20px;
}

.btn {
	background-color:#B71C1C;
	color:#fff;
	margin-right:20px;
}

.maxlabel line {
    stroke-width:2;
}